:root {

    /*
        Cria as variáveis com os nomes definidos abaixo
        dentro do documento CSS.
    */
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    /*
        Definem que a margem e o padding do site será
        igual a 0 para que os diferentes navegadores
        não definam esses valores por padrão.
    */
    margin: 0;
    padding: 0;

    /*
        Delimita que o limite máximo de todos os elementos
        que estão dentro da caixa (div) será o limite
        pré-determinado no CSS, fazendo com que nenhum
        deles ultrapasse o limite estipulado e com que os
        elementos se espremam para caber na caixa.
    */
    box-sizing: border-box;
}

/* ---------- ELEMENTOS BASE ----------*/

body {
    background-color: var(--preto); /* Define a cor do fundo do elemento body para a cor que está dentro da variável "preta" */
    font-family: 'Arial', Times, serif; /* Define a família de fontes utilizadas no site */
    color: white; /* Define a cor dos elementos filhos que não têm definição de cor como branca */
}

header .logo {
    color: var(--vermelho); /* Define que a cor do texto que está na classe "logo" dentro do header será a mesma contina dentro da variável "vermelho" */
    font-family: 'Arial Black', Times; /* Define a fonte do texto */
    font-size: 40px; /* Altera o tamanho da fonte */
    margin-left: 5px; /* Cria uma margem à direita do elemento pai (da janela) de cinco pixels, para não ficar colado no canto */
}

header nav a {
    text-decoration: none; /* Tira as "decorações de texto" dos links do menu contidos dentro do elemtno "a" do "nav" do "header" (sublinhados, etc) */
    color: #AAA; /* Define a cor do elemento "a" (do texto) */
    margin-right: 10px; /* Cria uma margem à direita de cada item "a" equivalente a 10 pixels */
}

header nav a:hover { /* Sempre que o mouse está em cima do elemento "a" da "nav" do "header", as instruções no bloco acontecem */
    color: #FFF;
}

header .container { /* Trata o item que tem a classe "container" dentro do "header" */
    display: flex; /* Utiliza o flex-box para alinhar os itens na tela. Sempre tem a tendência de jogar todas as coisas como "row", que significa que tudo será alinhado - numa linha */
    flex-direction: row; /* Propriedade padrão quando 'display:flex;' é inserido. Deixa tudo em linha. Inserida apenas por semântica, mas poderia não inserir */
    align-items: center; /* Alinha os itens dentro do container ao centro. 'Align-items' sempre alinha de maneira vertical. Como tudo está em linha por conta das propriedades anteriores, serão alinhadas ao centro da linha */
    justify-content: space-between; /* Alinha os elementos de maneira horizontal. 'space-between' cria um espaço entre os itens contidos no elemento tratado */
}

/* ---------- FILME PRINCIPAL ---------- */

.filme-principal { /* Manipula o item que tem a classe 'filme-principal' */
    font-size: 16px; /* Define a fonte de todos os elementos filhos dessa classe */
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/capa-house-of-cards.jpg'); /* Define a imagem de fundo da classe e seta um gradiente para deixar a imagem de fundo um pouco mais escura */
    height: 400px; /* Define a altura da div para 400px */
    background-size: cover; /* Define que o tamanho do background (imagem) será suficiente para cobrir todo o fundo do elemento */
    display: flex; /* Permite manipular elementos mais fácil (em linha ou coluna, por exemplo) */
    flex-direction: column; /* Define que o display-flex será em colunas, e não em linhas, exibindo todos os itens em coluna */
    justify-content: center; /* Centraliza os itens no centro da coluna */
    align-items: flex-start; /* Faz com que os itens da página comecem na esquerda */
}

.filme-principal .descricao {
    margin-bottom: 40px; /* Cria uma margem abaixo da DIV "descricao" para afastar os botões do texto */
    margin-top: 10px; /* Dá um espaço de dez pixels entre a descrição do filme e o título */
}

.filme-principal .titulo {
    margin-top: 15%; /* Cria uma margem com a distância equivalente a 15% do valor total da área */
    font-size: 40px; /* Define o tamanho da fonte do elemento título */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50); /* Define a cor do botão */
    border: none; /* Tira a borda do botão */
    color: white; /* Define a cor do que está dentro do botão (texto) */
    padding: 15px 30px; /* Cria um espaçamento interno dentro do elemento */
    margin-right: 15px; /* Cria uma margem à direita de cada elemento para que eles se distanciem um pouco */
    font-size: 12px; /* Define o tamanho da fonte dos botões */
    cursor: pointer; /* Transforma o cursor em uma mãozinha quando ele passa em cima do botão */
    transition: .3s ease all; /* Cria uma transição animada entre um estado e outro do elemento (entre passar o mouse em cima e sair) */
}

.botao:hover { /* Quando alguém passa o mouse em cima do elemento que possui a classe botao */
    background-color: white; /* Muda a cor de fundo para branco */
    color: black; /* muda a cor do que está dentro para preto */
}

.botao i { /* Referencia a tag i dentro do item que possui a classe botao */
    margin-right: 5px; /* Cria uma margem de 5px à direita da tag i */
}

.container { /* Aplica o bloco de instruções abaixo em todos os elementos que possuem a classe container */
    margin-left: 20px; /* Adiciona uma margem de 20 px à esquerda de todos os itens que possuem a classe */
}

.filme-principal .container { /* Altera apenas o container que está dentro de .filme-principal */
    width: 70%; /* O container dentro de filme principal terá uma largura de 70% do valor total da tela ou da sua área */
}

.box-filme { /* Trata as imagens referentes às capas dos títulos */
    height: 100%; /* Define a altura da imagem para o seu tamanho original */
    width: 100%; /* Define a largura da imagem para o seu tamanho original */
    display: block;
}

.carrosel-filmes {
    margin-top: 10px;
}